In [8]:
#1
List = ["Vipin",29,'Aerospace','Thane']
print(List)

['Vipin', 29, 'Aerospace', 'Thane']

In [9]:
#2
print(List[2])

Aerospace

In [10]:
#3
print(List[3])

Thane

In [13]:
#4 (a) Forward indexing
print(List[2])
#(b)  Backward indexing
print(List[-2])

Aerospace
Aerospace

In [16]:
#5
List[0] = 'pal'
print(List)

['pal', 29, 'Aerospace', 'Thane']

In [18]:
#6
List[0 ]= ['29','Aerospace']
print(List)

[['29', 'Aerospace'], 29, 'Aerospace', 'Thane']

In [19]:
#7
List[0] = ["29,pal"]
print(List)

[['29,pal'], 29, 'Aerospace', 'Thane']

In [21]:
#8
List[0] = ["Tipu","Pal"]
print(List)

[['Tipu', 'Pal'], 29, 'Aerospace', 'Thane']

In [29]:
#9.
List1 = ['Vipin',29,'Aerospace','Thane']
List1.insert(1,'pal')
print(List1)

['Vipin', 'pal', 29, 'Aerospace', 'Thane']

In [30]:
#10.
List1.append('Reading Book')
print(List1)

['Vipin', 'pal', 29, 'Aerospace', 'Thane', 'Reading Book']

In [35]:
#11
List1.extend(['watching moves,playing cricket,watching newes,Listing Song'])
print(List1)

['Vipin', 'pal', 29, 'Aerospace', 'Thane', 'Reading Book', 'watching moves,playing cricket,watching newes,Listing Song', 'watching moves,playing cricket,watching newes,Listing Song', 'watching moves,playing cricket,watching newes,Listing Song']

In [38]:
#12
List2 =['Vipin',29,'Aerospace','Thane']
List2.remove('Thane')
print(List2)

['Vipin', 29, 'Aerospace']

In [39]:
#13.
List2.pop(1)
print(List2)

['Vipin', 'Aerospace']

In [40]:
#14
List3 = ['vipin',29,'Aerospace','Thane']
List3.pop(3)
print(List3)

['vipin', 29, 'Aerospace']

In [41]:
#15
List3.clear()
print(List3)

[]

In [44]:
#16.
List4 =['Vipin',29, 'Aerospace','Thane']
del List4
print(List4)

NameError: name 'List4' is not defined